
html{
    margin: 100px;
}

body{
    font-family: Helvetica;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.container-name{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start; 
}







