

html { margin: 50px;}

.container{

  display: flex;
  background: red; 
  z-index: 1;
  height: 800px;
  width: 800px;
  justify-content: space-around;
  align-items: center;


}

.canvas {

  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 500px;
  height: 500px;
  background: blue;
  z-index: 0;
}


.header{
  width: 50px;
  height: 50px;
  background: white;
}

